{
  "parser": "babel-eslint",
  "plugins": ["flowtype", "import", "prettier"],
  "rules": {
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype/space-after-type-colon": [0, "never"],
    "import/no-commonjs": 2,
    "import/no-amd": 2,
    "import/export": 2,
    "no-var": 2,
    "linebreak-style": [2, "unix"],
    "curly": [2, "multi", "consistent"],
    "prefer-const": [
      "error",
      {
        "destructuring": "all",
        "ignoreReadBeforeAssign": false
      }
    ],
    "prettier/prettier": ["error"]
  },
  "env": {
    "es6": true,
    "node": true,
    "worker": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "experimentalObjectRestSpread": true
  },
  "extends": ["eslint:recommended", "prettier"]
}
